<h3>Conversations</h3>
    <div class="list-view">
    <form ng-controller="ConvoCtrl">
        <span ng-repeat="conversation in getConvos()">
            Name: <input type="text" ng-model="conversation.name" cols="25" rows="3"></input><br/>
            <button class="btn btn-default" ng-click="editConvo(conversation)">Edit {{conversation.name}}</button>
            <button class="btn btn-danger" ng-click="deleteConvo(conversation)">Delete {$conversation.name$}</button>
            <hr/>
        </span>
        <button class="btn btn-default" ng-click="addConvo()">Add new conversation</button>
    </form>
</div>
