*{
    border-radius: 0 !important;
}

html{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #111111 0%, #171a21 100%); 
}

body{
    background: none;
    color: #f9f9f9;
}

a{
    color: #fe1b9c
}

a:hover{
    color: #fe1b9c
}

h1{
    color : #fe1b9c;
}


#about{
    padding: 20px;
}

#team{
    padding: 20px;
}

.main{
    width: 100%;
}

.navbar{
    margin-bottom: 0;
    border: none;
}

.logo-img{
    width: 35px;
    height: 35px;
    margin-top: 7px;
}

.video{
    max-height: 500px;
    width: 100%;
}

.video-container{
    background-color: #222;
}

.banner{
    display: flex;
    width : 100%;
    margin-left: auto;
    margin-right: auto;

}

.banner-container{
    width: 100%;
    margin-bottom: 40px;
}

.profile-img{
    width: 250px;
    height: 250px;
    padding: 25px;
    margin: 0 auto;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    width: 100%;
    text-align: center;
}

.logo{
    width : 500px;
    max-width: 100%;
    padding: 20px;
}

.description{
    max-width:900px;
}

.vertical-center {
  display: flex;
  align-items: center;
}
