*{
    border-radius: 0 !important;
}

html{
    font-family: 'borders_divide_but_hearts_sRg' !important;
    background: linear-gradient(to bottom, #111111 0%, #171a21 100%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    font-family: 'borders_divide_but_hearts_sRg' !important;
    background: none;
    color: #f9f9f9;
}

h1{
    color : #fe1b9c;
}

h3{
    color : #f9f9f9;
}

h2{
    color : #fe1b9c;
}

#about{
}

#team{
    padding: 20px;
    background-color: #111;
}

.main{
    width: 100%;
}

.navbar{
    margin-bottom: 0;
    border: none;
}

.video{
    width: 100%;
}

.video-container{
    background-color: #111;
    width: 100%;
}

.banner{
    display: flex;
    width : 100%;
    margin-left: auto;
    margin-right: auto;

}

.banner-container{
    padding-top: 53px;
    width: 100%;
    background-color: #111;
}

.profile-img{
    width: 250px;
    height: 250px;
    padding: 25px;
    margin: 0 auto;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    width: 100%;
    text-align: center;
}

.logo{
    width : 500px;
    max-width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    image-rendering: pixelated;
}

.description{
    padding-top: 30px;
    padding-bottom: 60px;  
}

.vertical-center {
  display: flex;
  align-items: center;
}

.container{
    padding: 0 !important;
}
