*{
    border-radius: 0 !important;
}

html{
    font-family: 'borders_divide_but_hearts_sRg' !important;
    background: linear-gradient(to bottom, #111111 0%, #171a21 100%); 
}

body{
    font-family: 'borders_divide_but_hearts_sRg' !important;
    background: none;
    color: #f9f9f9;
}

a{
    color: #fe1b9c
}

a:hover{
    color: #fe1b9c
}

h1{
    color : #fe1b9c;
}

h3{
    color : #f9f9f9;
}

h2{
    color : #fe1b9c;
}

#about{
}

#team{
    padding: 20px;
    background-color: #111;
}

.main{
    width: 100%;
}

.navbar{
    margin-bottom: 0;
    border: none;
}

.logo-img{
    width: 35px;
    height: 35px;
    margin-top: 7px;
}

.video{
    width: 100%;
}

.video-container{
    background-color: #111;
    width: 100%;
}

.banner{
    display: flex;
    width : 100%;
    margin-left: auto;
    margin-right: auto;

}

.banner-container{
    padding-top: 50px;
    width: 100%;
    background-color: #111;
}

.profile-img{
    width: 250px;
    height: 250px;
    padding: 25px;
    margin: 0 auto;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    width: 100%;
    text-align: center;
}

.logo{
    width : 500px;
    max-width: 100%;
    padding: 20px;
    padding-bottom: 40px;
}

.description{
    padding-top: 30px;
    padding-bottom: 60px;  
}

.vertical-center {
  display: flex;
  align-items: center;
}

.nav{
    background-color: #171a21;
    height : 50px;
    border-bottom: solid thin  #fe1b9c;
}

.container{
    padding: 0 !important;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}