<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bower_components/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/partydarling/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/partydarling/font.css' %}"/>

    <title>Party, Darling?</title>

</head>
<body>
<div id="main">
    {% include 'navbar.html'%}
    <div class="banner-container">
        <div class="container">
            <img class="banner" src="{% static 'images/partydarling/banner2.png'%}"/>
        </div>
    </div>
    <div class="video-container ">
        <div class="container">
            <video class="video" controls>
                <source src="{% static 'videos/partydarling/trailer.mp4' %}" type="video/mp4">
            </video>
        </div>
    </div>
    <div id="about">
        <div class="container description">
             <h2 class="center-text ">
            "Party, Darling?" is a narrative adventure game developed alongside S-Tengine2, SweetHeart&nbsp;Squad's custom C++ and OpenGL based open-source engine. 
            </h2>
            <h3 class="center-text">
            The game revolves around a murder mystery in which the player must explore the alternate realities of a bizarre mansion in search of its enigmatic owner.
            </h3>
        </div>
    </div>
    <div class="container">
        <div class="row vertical-center">
            <div class="col-md-6">
                <a href="https://github.com/SweetheartSquad/S-Tengine2">
                    <img class="center-block logo" src="{% static 'images/partydarling/S-Tengine2_logo.png'%}"/>
                </a>
            </div>
            <div class="col-md-6">
            <a href="https://github.com/SweetheartSquad">
                <img class="center-block logo" src="{% static 'images/partydarling/shs.png'%}"/>
            </a>
            </div>
        </div>
    </div>
</body>
</html>