{% extends "scenarioEditor/base.html" %}

{% load staticfiles %}
{% load abs_url %}

{% block content %}
    <div hidden id="scenario-script">{{ scenario.script }}</div>
    <div ng-controller="EditorCtrl">
        <div id="ui-blocker" class="block-ui">
            <span class="block-ui-text">Hold On</span>
        </div>
        <div class="navbar navbar-default pd-navbar pd-secondary-navbar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-collapse navbar-menubuilder">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a ng-href="#/{% url 'charView' %}">Characters</a></li>
                        <li><a ng-href="#/{% url 'convoView' %}">Conversations</a></li>
                        <li><a ng-href="#/{% url 'roomView' %}">Rooms</a></li>
                        <li><a ng-href="#/{% url 'itemView' %}">Items</a></li>
                        <li><a ng-href="#/{% url 'assetView' %}">Assets</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default pd-info-bar">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <h2 class="pd-info-title">Editing: {{ scenario.name }}</h2>
                </li>
            </ul>
            <ul>
                <li class="nav navbar-nav navbar-right">
                    <button class="btn btn-primary navbar-btn" ng-click="save('{{ scenario.id }}')">Save</button>
                </li>
            </ul>
        </div>

        <div class="navbar navbar-default " ng-show="messages.length > 0">
            <ul>
                <li ng-repeat="message in messages" class="alert alert-{$message.severity$} width-90 center marg-top-10">
                    <span>{$message.text$}</span>
                    <sweet-delete class="nav navbar-right marg-right-10" variable="message" container="messages"></sweet-delete>
                </li>
                <li class="width-90 center">
                    <div class="h3 nav navbar-right marg-right-10">
                        <span ng-click="clearMessages()" class="glyphicon glyphicon-remove-circle clickable hover-fade"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div ng-view></div>
    </div>



{% endblock %}

{% block js_resources %}
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="{% static 'vendor/dropzone.js' %}"></script>
    <script src="{% static 'js/scenarioEditor/charView/charView.js' %}"></script>
    <script src="{% static 'js/scenarioEditor/convoView/convoView.js' %}"></script>
    <script src="{% static 'js/scenarioEditor/assetView/assetView.js' %}"></script>
    <script src="{% static 'js/scenarioEditor/roomView/roomView.js' %}"></script>
    <script src="{% static 'js/scenarioEditor/itemView/itemView.js' %}"></script>
{% endblock %}

