{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"/>
<nav class="nav navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="pull-left" href="/">
        <img alt="Brand" class="logo-img" src="{% static 'images/partydarling/logo-sm.png' %}">
      </a>
    </div>
     <ul class="nav navbar-nav navbar-right">
        <li><a href="https://sweetheartsquad.itch.io/"><i class="fa fa-gamepad"></i></a></li>
        <li><a href="http://sweetheartsquad.tumblr.com/"><i class="fa fa-tumblr"></i></a></li>
        <li><a href="https://twitter.com/sweetheartsquad"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/SweetheartSquad"><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
</nav>
