/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.pd-modal
{
  position:absolute;
  width:950px;
  height:400px;
  text-align:center;
  margin:20px;
  margin-top:0px;
  background-color: white;
  border-style:solid;
  border-width:2px;

}

#sidebar
{
  width:250px;
  height:500px;
  float:left;
  overflow-y:auto;
}

#main
{
  float:left;
  padding-left:25px;
  min-width:700px;
  height:500px;
  overflow-y:auto;
}

#footer
{
  position:absolute;
  bottom:0px;
  left:0px;
  height:100px;
  width:100%;
  background-color:white;
}

#footer
{
  position:absolute;
  bottom:0px;
  left:0px;
  height:100px;
  width:100%;
  background-color:white;
}

.base-header{
    padding: 15px;
    background-color: #aaaaaa;
    width: 100%;
}

.base-content{

}

.header-title{
    float: left;
    margin-right: 20px;
    font-weight: bold;
}

.header-items{
    margin-left: 20px;
    overflow: hidden;
}

.header-item{
    display: block;
    float: left;
}

.header-inner{
    overflow: hidden;
}

#drop_zone {
	width: 50%;
	border: 2px dashed #BBB;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	color: #BBB;
}

.removeAllImages {
    cursor:pointer;
}

/* NAVBAR*/
.pd-navbar {
    background-color: #ffd7f3;
    border-radius: 0;
    padding: 7px;
    border:none;
}

.pd-secondary-navbar{
    background-color: #ffeefa;
    margin-top: -20px;
    padding-left: 0;
}

.pd-secondary-navbar .container-fluid{
    padding-left: 0;
}


.pd-navbar a{
      color: #222222;
}

.pd-navbar .navbar-brand{
    padding: 0;
    padding-left: 10px;
}

.pd-nav-logo{
    width: 50px;
}

.content-editor{
    padding-left: 15px;
    padding-right: 15px;
}

.list-view{
    background-color: #eeeeee;
    width: auto;
}