{% load staticfiles %}
<div ng-controller="itemCtrl">
    <div class="row fill-height">
        <div class="col-md-2 list-view">
            <h3>Items</h3>

            <form>
                <div ng-repeat="item in getItems()" class="padded-top-bottom-10">
                    <span>Name: </span><input type="text" ng-model="item.name" title="Name"/>
                    <span class="glyphicon glyphicon-edit clickable hover-fade" ng-click="editItem(item)"></span>
                    <sweet-delete variable="item" container="getItems()" confirm="true"></sweet-delete>
                    <hr/>
                </div>
                <button class="btn btn-primary" ng-click="addItem()">Add New Item</button>
            </form>
        </div>
        <div class="col-md-10 content-block" ng-show="editVisible">
            <div class="padded-top-bottom-10">
                <div class="row padded-top-bottom-10">
                    <div class="col-sm-1">
                        <span>Name</span>
                    </div>
                    <div class="col-sm-1">
                        <input type="text" ng-model="currentItem().name"/>
                    </div>
                </div>
                <div class="row padded-top-bottom-10">
                    <div class="col-sm-1">
                        <span>Description</span>
                    </div>
                    <div class="col-sm-3">
                        <textarea ng-model="currentItem().description"></textarea>
                    </div>
                </div>
                <div class="row padded-top-bottom-10">
                    <div class="col-sm-1">
                        <span>Interactable</span>
                    </div>
                    <div class="col-sm-1">
                        <input type="checkbox" ng-model="currentItem().interactable"/>
                    </div>
                </div>
                <h4>Effects</h4>
                <span ng-repeat="trigger in currentItem().effects">
                    <div class="trigger">
                        Function =
                        <input type="text" ng-model="trigger.func"/>

                        <div class="arg-container">
                            Arguments =
                            <div ng-repeat="(key, val) in trigger.args track by $index" class="arg-container">
                                <input id="trigger-arg-key-{$$index$}" type="text" ng-model="key"
                                       ng-change="updateArg(trigger, 'trigger-arg-key-{$$index$}', '{$key$}')"/>
                                <span> = </span><input type="text" ng-model="trigger.args[key]"/>

                                <div sweet-keyed-delete key="key" container="trigger.args"></div>
                            </div>
                            <button class="btn btn-primary" ng-click="addArg(trigger)">Add Arg</button>
                        </div>
                    </div>
                    <div sweet-delete variable="trigger" container="currentItem().effects"></div>
                </span>
                <img src="{$currentItem().texture.imageUrl$}"/>
                <button class="btn btn-primary" ng-click="addEffect(currentItem())">Add Effect</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#component-modal"
                        ng-click="editTexture()">Edit Texture
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="component-modal">
        <div class="modal-content">
            <span>Name:</span>
            <input type="text" ng-model="itemQuery.name" ng-change="queryChanged()"/>

            <span>Tags(Comma Separated):</span>
            <input type="text" ng-model="itemQuery.tags" ng-change="queryChanged()"/>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th class="h4">Name</th>
                    <th class="h4">Description</th>
                    <th class="h4">Tags</th>
                </tr>
                </thead>
                <tr ng-repeat="item in itemTextures">
                    <td>
                        <button class="btn btn-primary" data-dismiss="modal" ng-click="selectTexture(item)">Select
                        </button>
                    </td>
                    <td>
                        <span>{$item.name$}</span>
                    </td>
                    <td>
                        <span>{$item.description$}</span>
                    </td>
                    <td>
                        <div ng-repeat="tag in item.tags">
                            <span>{$tag.value$}</span>
                        </div>
                    </td>
                    <td>
                        <img class="thumbnail" src="{$item.texture.imageUrl$}"/>
                    </td>
                </tr>
            </table>
            <hr/>
            <button class="btn btn-default" data-dismiss="modal" ng-click="closeBodyPart()">Close</button>
        </div>
    </div>
</div>
